body {
  background: #2b2b2b;
  overflow: hidden;
  margin: 0px;
}

/* Cant have position ABSOLUTE on these because of centered div elements */
.Links {
  font-family: Tahoma, sans-serif;
  font-size: 150%;
  width: 50%;
  text-align: center;
  border: 3px solid #f7ba79;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 0;
}

/* The default colour of ALL hyperlinks will be these */
a:link {
  color: #f7ba79;
  text-decoration: none;
}
a:visited {
  color: #f7ba79;
  text-decoration: none;
}
a:hover {
  color: #d99c47;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #d99c47;
  background-color: transparent;
  text-decoration: underline;
}
